%p= %|Hi #{@requestor_name},|

%p
  %b
    = @owner_name
  has approved your request for
  %b
    = "#{@device.make} #{@device.model}"

%p
  Contact the owner in case you haven't received the device yet.
