%p= %|Hi #{@owner},|
  
%p
  %b
    = @requestor
  has requested
  %b
    = "#{@device.make} #{@device.model}"
  from you.

%p Go to your requests page in the application and approve/reject this request.
