= form_for(@device) do |f|
  - if @device.errors.any?
    #error_explanation
      %h2
        = pluralize(@device.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :serial_num
    %br/
    = f.text_field :serial_num
  .field
    = f.label :type
    %br/
    = f.text_field :device_type
  .field
    = f.label :make
    %br/
    = f.text_field :make
  .field
    = f.label :model
    %br/
    = f.text_field :model
  .field
    = f.label :os
    %br/
    = f.text_field :os
  .field
    = f.label :os_version
    %br/
    = f.text_field :os_version
  .field
    = f.label :environment
    %br/
    = f.text_field :environment
  .field
    = f.label :project
    %br/
    = f.text_field :project
  .field
    = f.label :phone_num
    %br/
    = f.text_field :phone_num
  .field
    = f.label :service_provider
    %br/
    = f.text_field :service_provider
  .field
    = f.label :mac_addr
    %br/
    = f.text_field :mac_addr
  .field
    = f.label :ip_addr
    %br/
    = f.text_field :ip_addr
  .field
    = f.label :status
    %br/
    = f.text_field :status
  .actions
    = f.submit :class => "btn btn-primary btn-large"
