= labeled_form_for @device, html: {id: 'device-form', class: 'form-horizontal new_device', multipart: true} do |f|
  .hide
    = hidden_field_tag :comment
  .row-fluid
    .span6
      = f.select     :device_type_id, DeviceType.all.map {|dt| [dt.name, dt.id]}
      = f.text_field :manufacturer, title: t('device.form.manufacturer')
      = f.text_field :model,        title: t('device.form.model'),       label: 'Product'
      = f.text_field :label,        title: t('device.form.label')
      = f.text_field :os,           title: t('device.form.os'),          label: 'OS'
      = f.text_field :os_version,   title: t('device.form.os_version'),  label: 'OS Version'
      = f.text_field :environment,  title: t('device.form.environment')
      = f.text_field :project,      title: t('device.form.project')
      = f.text_field :owner,        class: 'typeahead', placeholder: 'Start typing in the user name',  autocomplete: 'off'
      = f.text_field :property_of,  title: t('device.form.property_of')
      = f.text_field :serial_num,   title: t('device.form.serial_num'),  label: 'Serial Number'

    .span6
      = f.file_field :device_photo
      = f.text_field :imei,             title: t('device.form.imei'),            label: 'IMEI'
      = f.text_field :phone_num,        title: t('device.form.phone_num'),       label: 'Phone Number'
      = f.text_field :service_provider, title: t('device.form.service_provider')
      = f.text_field :mac_addr,         title: t('device.form.mac_addr'),        label: 'MAC Address'
      = f.text_field :ip_addr,          title: t('device.form.ip_addr'),         label: 'IP Address'
  
  / Accessories
  %h3= accessories_heading(@device)
  = f.fields_for :accessories do |accessories_fields|
    = render 'accessories/form', :f => accessories_fields

  = render 'accessories/form_template'

  .well#add-accessory-container.center
    %a.btn.btn-primary#add-accessory
      %i.icon-plus.icon-white
      Add Accessory

  .actions
    = f.submit :class => "btn btn-primary btn-large", :id => @device.new_record? ? 'create-device' : 'update-device'
