= form_for(@device, html: {class: 'form-horizontal new_device well'}) do |f|
  - if @device.errors.any?
    #error_explanation
      %h2
        = pluralize(@device.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg
  .control-group.field
    = f.label :serial_num, 'Serial Number', class: 'control-label'
    .controls
      = f.text_field :serial_num
  .control-group.field
    = f.label :type, class: 'control-label'
    .controls
      = f.text_field :device_type
  .control-group.field
    = f.label :make, class: 'control-label'
    .controls
      = f.text_field :make
  .control-group.field
    = f.label :model, class: 'control-label'
    .controls
      = f.text_field :model
  .control-group.field
    = f.label :os, 'OS', class: 'control-label'
    .controls
      = f.text_field :os
  .control-group.field
    = f.label :os_version, 'OS Version', class: 'control-label'
    .controls
      = f.text_field :os_version
  .control-group.field
    = f.label :environment, class: 'control-label'
    .controls
      = f.text_field :environment
  .control-group.field
    = f.label :project, class: 'control-label'
    .controls
      = f.text_field :project
  .control-group.field
    = f.label :phone_num, class: 'control-label'
    .controls
      = f.text_field :phone_num
  .control-group.field
    = f.label :service_provider, 'Service Provider', class: 'control-label'
    .controls
      = f.text_field :service_provider
  .control-group.field
    = f.label :mac_addr, 'MAC Address', class: 'control-label'
    .controls
      = f.text_field :mac_addr
  .control-group.field
    = f.label :ip_addr, 'IP Address', class: 'control-label'
    .controls
      = f.text_field :ip_addr
  .control-group.field
    = f.label :status, class: 'control-label'
    .controls
      = select_tag(:status, options_for_select(['Available', 'In Use', 'Not Available']))
  .actions
    = f.submit :class => "btn btn-primary btn-large"
