%table#device-list.table.table-striped.table-bordered
  %thead
    %tr
      %th Model
      %th Type
      %th OS
      %th Project
      %th State
      %th Owner
      %th Is With
      %th
  %tbody
    - @devices.each do |device|
      %tr.clickable{'data-url' => device_path(device)}
        %td= "#{device.make} #{device.model}"
        %td= device.device_type.try(:name)
        %td= "#{device.os} #{device.os_version}"
        %td= device.project
        %td= device.state
        %td= device.owner
        %td= device.possessor
        %td.device-actions= device_actions(device)
  %tfoot
    %tr
      %td
        %input.search_init{:name => "search_make", :type => "text", :value => "Search Make"}/
      %td
        %input.search_init{:name => "search_type", :type => "text", :value => "Search Type"}/
      %td
        %input.search_init{:name => "search_os", :type => "text", :value => "Search OS"}/
      %td
        %input.search_init{:name => "search_project", :type => "text", :value => "Search Project"}/
      %td
        %input.search_init{:name => "search_state", :type => "text", :value => "Search State"}/
      %td
      %td
=link_to 'Export', export_devices_path(:format => :xls)

#device-actions.modal.fade
  .modal-header
    %h3
      Issue/Return the device
      %button.close{:type => 'button', 'data-dismiss' => 'modal'}
        %i.icon-remove
  .modal-body
    - device = Device.new
    = form_for device, class: 'form' do |f|
      = f.label :possessor
      = f.text_field :possessor, placeholder: 'LDAP Username', class: 'typeahead'
  .modal-footer
    %a.btn.btn-primary Save
    %a.btn{'data-dismiss' => 'modal'} Cancel
