%table#device-list.table.table-striped.table-bordered
  %thead
    %tr
      %th Model
      %th Type
      %th OS
      %th Serial 
      %th Project
      %th Owner
      %th Availability
      %th
  %tbody
    - @devices.each do |device|
      %tr.clickable{'data-url' => device_path(device)}
        %td= "#{device.make} #{device.model}"
        %td= device.device_type.try(:name)
        %td= "#{device.os} #{device.os_version}"
        %td= device.serial_num
        %td= device.project
        %td= device.owner
        %td
          = state_label(device)
        %td.device-actions{id: "device-actions-#{device.id}"}= device_actions(device)
  %tfoot
    %tr
      %td
        %input.search_init{:name => "search_make", :type => "text", :value => "Search Make"}/
      %td
        %input.search_init{:name => "search_type", :type => "text", :value => "Search Type"}/
      %td
        %input.search_init{:name => "search_os", :type => "text", :value => "Search OS"}/
      %td
        %input.search_init{:name => "search_serial", :type => "text", :value => "Search Serial"}/
      %td
        %input.search_init{:name => "search_project", :type => "text", :value => "Search Project"}/
      %td
      %td
      %td
%br
#device-actions.modal.fade

= render 'devices/request_form_template'
