%table#device-list.table.table-striped.table-bordered
  %thead
    %tr
      %th Model
      %th Type
      %th OS
      %th Project
      %th Status
      %th Assigned To
      %th Owned By 
  %tbody
    - @devices.each do |device|
      %tr.clickable{'data-url' => device_path(device)}
        %td= "#{device.make} #{device.model}"
        %td= device.device_type
        %td= "#{device.os} #{device.os_version}"
        %td= device.project
        %td= device.status
        %td{rel: 'tooltip', title: device.owner.try(:email)}= device.owner.try(:name)
        %td{rel: 'tooltip', title: device.possesser.try(:email)}= device.possesser.try(:name)
  %tfoot
    %tr
      %td
        %input.search_init{:name => "search_make", :type => "text", :value => "Search Make"}/
      %td
        %input.search_init{:name => "search_type", :type => "text", :value => "Search Type"}/
      %td
        %input.search_init{:name => "search_os", :type => "text", :value => "Search OS"}/
      %td
        %input.search_init{:name => "search_project", :type => "text", :value => "Search Project"}/
      %td
        %input.search_init{:name => "search_status", :type => "text", :value => "Search Status"}/
      %td
      %td
=link_to 'Export', export_devices_path(:format => :xls)
