.row-fluid
  .pull-left
    %h2 Listing Devices
  .pull-right
    - if is_admin?
      %a.btn.btn-primary{href: new_device_path}
        %i.icon-plus.icon-white
        Add Device
  - if is_admin?
    .pull-right.export-to-excel
      = link_to 'Export To Excel', export_devices_path(:format => :xls), class: 'btn'


%legend

- if @devices.empty?
  .no_device
    There are no devices in the database at the moment. Go to
    = link_to 'create page', new_device_path
    to add a device.
- else
  = render 'devices/list'

- if is_admin?
  .row-fluid
    .span6
      = form_tag import_devices_path, :class => "well form form-vertical", :multipart => true do
        %h3 Import an Excel
        = file_field_tag :device_import_file
        %br/
        = submit_tag 'Import', class: 'btn btn-primary'
