.row-fluid
  .pull-left
    %h2 Listing Devices

  .pull-right
    - if is_admin?
      =link_to 'Export', export_devices_path(:format => :xls)
      %a.btn.btn-primary{href: new_device_path}
        %i.icon-plus.icon-white
        Add Device

%legend

- if @devices.empty?
  .no_device
    There are no devices in the database at the moment. Go to
    = link_to 'create page', new_device_path
    to add a device.
- else
  = render 'devices/list'
%span.label.label-info Import 
= form_tag import_devices_path, :class => "well", :multipart => true do
  %table
    %tr
      %td
        %label{:for => "device_import_file"}
          Import Devices via xls File:
      %td
        = file_field_tag :device_import_file
    %tr
      %td{:colspan => "2"}
        = submit_tag 'Import', :class => "btn"
