%h1 Listing devices
%table{:class => "table table-striped table-bordered table-condensed"}
  %tr
    %th Serial
    %th Type
    %th Make
    %th Model
    %th OS
    %th Version
    %th Environment
    %th Project
    %th Phone
    %th Provider
    %th Mac addr
    %th IP
    %th
    %th
    %th
  - @devices.each do |device|
    %tr
      %td= device.serial_num
      %td= device.device_type
      %td= device.make
      %td= device.model
      %td= device.os
      %td= device.os_version
      %td= device.environment
      %td= device.project
      %td= device.phone_num
      %td= device.service_provider
      %td= device.mac_addr
      %td= device.ip_addr
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Device', new_device_path
