.pager
  %li.previous
    = link_to '<< Devices List', devices_path

.well
  %legend.row-fluid
    .pull-left
      %h2= device_name(@device)
    .pull-right
      = state_label(@device)
      - if is_admin?
        = link_to 'Edit', edit_device_path(@device), class: 'btn btn-medium'
  .row-fluid
    .span4
      .field
        %b OS:
        = "#{@device.os_name}"
      .field
        %b Label:
        = "#{@device.label}"
      .field
        %b Project:
        = "#{@device.project}"
      .field
        %b Environment:
        = "#{@device.environment}"
      .field
        %b State:
        = "#{@device.state}"
      .field
        %b Owner:
        = "#{@device.owner}"
      .field
        %b Possessor:
        - if @device.available?
          %span.label.label-info None
        - else
          = "#{@device.possessor}"
          - if @device.in_use? and (is_admin? or is_owner?(@device))
            = link_to 'Receive', receive_device_path(@device), method: :put, class: 'btn btn-primary btn-mini'
      .field
        %b Created On:
        = "#{@device.created_at.strftime('%d-%m-%y')}"
      .field
        %b Created By:
        = "#{@device.created_by}"
    .span4
      .field
        %b Mac Address:
        = "#{@device.mac_addr}"
      .field
        %b IMEI:
        = "#{@device.imei}"
      .field
        %b Network:
        = "#{@device.service_provider} (#{@device.phone_num})"
      .field
        %b IP:
        = "#{@device.ip_addr}"
      .field
        %b Serial:
        = "#{@device.serial_num}"
      .field
        %b Property Of:
        = "#{@device.property_of}"
      .field
        %b Updated On:
        = "#{@device.updated_at.strftime('%d-%m-%y')}"
      .field
        %b Updated By:
        = !@device.updated_by.blank? ? "#{@device.updated_by}" : "#{@device.created_by}"
    .span4
      .img-placeholder.small
        = image_tag @device.device_photo.url(:small)

.well
  = render 'accessories/list'

.well
  %h3 Events

  - if @events.empty?
    No events associated for this device so far!
  - else
    = render 'events/list', events: @events
    = link_to 'See all events', device_events_path(@device)
