.pager
  %li.previous
    = link_to '<< Devices List', devices_path

.well
  %legend.row-fluid
    .pull-left
      %h2= device_name(@device)
    .pull-right
      - if is_admin?
        = link_to 'Edit', edit_device_path(@device), class: 'btn btn-medium'
        = link_to 'Delete', @device, method: :delete, confirm: 'Are you sure?', class: 'btn btn-medium btn-warning'
  .row-fluid
    .span4
      .field
        %b OS:
        = "#{@device.os_name}"
      .field
        %b Project:
        = "#{@device.project}"
      .field
        %b Environment:
        = "#{@device.environment}"
      .field
        %b State:
        = "#{@device.state}"
      .field
        %b Owner:
        = "#{@device.owner}"
      .field
        %b Possesser:
        = "#{@device.possessor}"
    .span4
      .field
        %b Mac Address:
        = "#{@device.mac_addr}"
      .field
        %b Network:
        = "#{@device.service_provider} (#{@device.phone_num})"
      .field
        %b IP:
        = "#{@device.ip_addr}"
      .field
        %b Serial:
        = "#{@device.serial_num}"
    .span4
      .img-placeholder.small
        = image_tag @device.device_photo.url(:small)

= render 'accessories/list'

%h3 Events
- if !@device_events.empty?
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Device Type
        %th Event 
        %th Date
        %th Updated By
       
    %tbody
      - @device_events.each do |dev_event|
        %tr
          %td= "#{dev_event.item_type}"
          %td= dev_event.event
          %td= dev_event.created_at.strftime('%D at  %H:%m:%S hrs')
          %td= dev_event.whodunnit
- else          
  No Event(s)
