%p
  %b Serial num:
  = @device.serial_num
%p
  %b Type:
  = @device.device_type
%p
  %b Make:
  = @device.make
%p
  %b Model:
  = @device.model
%p
  %b Os:
  = @device.os
%p
  %b Os version:
  = @device.os_version
%p
  %b Environment:
  = @device.environment
%p
  %b Project:
  = @device.project
%p
  %b Phone num:
  = @device.phone_num
%p
  %b Service provider:
  = @device.service_provider
%p
  %b Mac addr:
  = @device.mac_addr
%p
  %b Ip addr:
  = @device.ip_addr
= link_to 'Edit', edit_device_path(@device)
|
\#{link_to 'Back', devices_path}
