<p id="notice"><%= notice %></p>

<p>
  <b>Serial num:</b>
  <%= @device.serial_num %>
</p>

<p>
  <b>Type:</b>
  <%= @device.type %>
</p>

<p>
  <b>Make:</b>
  <%= @device.make %>
</p>

<p>
  <b>Model:</b>
  <%= @device.model %>
</p>

<p>
  <b>Os:</b>
  <%= @device.os %>
</p>

<p>
  <b>Os version:</b>
  <%= @device.os_version %>
</p>

<p>
  <b>Environment:</b>
  <%= @device.environment %>
</p>

<p>
  <b>Project:</b>
  <%= @device.project %>
</p>

<p>
  <b>Phone num:</b>
  <%= @device.phone_num %>
</p>

<p>
  <b>Service provider:</b>
  <%= @device.service_provider %>
</p>

<p>
  <b>Mac addr:</b>
  <%= @device.mac_addr %>
</p>

<p>
  <b>Ip addr:</b>
  <%= @device.ip_addr %>
</p>

<p>
  <b>Owner:</b>
  <%= @device.owner_id %>
</p>

<p>
  <b>Possesser:</b>
  <%= @device.possesser_id %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
