%h2
  %b
  = @device.make
  = @device.model
  %legend

%p
  .pull-left
    = link_to 'Edit', edit_device_path(@device), class: 'btn btn-medium'
    = link_to 'Back', devices_path, class: 'btn btn-medium'
  .pull-right
    = link_to 'Delete', @device, method: :delete, confirm: 'Are you sure?', class: 'btn btn-warning'

%table{	:class => "table"}
  %tr
    %td
      %b Serial num:
      = @device.serial_num
    %td
      %b Type:
      = @device.device_type
    %td
      %b Make:
      = @device.make
    %td
      %b Model:
      = @device.model
  %tr
    %td
      %b Os:
      = @device.os
    %td
      %b Os version:
      = @device.os_version
    %td
      %b Environment:
      = @device.environment
    %td
      %b Project:
      = @device.project
  %tr
    %td
      %b Phone num:
      = @device.phone_num
    %td
      %b Service provider:
      = @device.service_provider
    %td
      %b Mac addr:
      = @device.mac_addr
    %td
      %b Ip addr:
      = @device.ip_addr
  %tr
    %td
      %b Status:
      = @device.status
    %td
      %b Assigned To:
      = @device.owner_id
    %td
      %b Owned By:
      = @device.owner_id
