.well.accessory-form-inline
  = f.select  :accessory_type, Accessory::AccessoryTypes, placeholder: 'Accessory Type'
  = f.text_field :manufacturer, placeholder: 'Manufacturer'
  = f.text_field :description, placeholder: 'Comments'
  .pull-right{rel: 'tooltip', title: 'Mark for deletion'}
    = f.check_box '_destroy'
    = f.label '_destroy', 'Remove', class: 'btn btn-mini btn-warning'
