!!!
%html
  %head
    %title DeviceInventory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Device Inventory
          .btn-group.pull-right
            %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-user
              = user_signed_in? ? current_user.email.sub(/@.*$/, '') : 'Guest'
              %span.caret
            %ul.dropdown-menu
              - if user_signed_in?
                %li= link_to 'Profile', '/users/edit'
                %li.divider
                %li= link_to("Sign out", destroy_user_session_path, :method => :delete)
              - else
                %li
                  = link_to 'Login', signin_path
          .nav-collapse
            %ul.nav.pull-right
              %li
                %form.navbar-form.pull-right{action: search_devices_path}
                  %input.span3{type: :text, name: 'q', placeholder: 'Search Devices'}
          / /.nav-collapse
    .container
      .hero-unit
        = render 'shared/flashes'
        = yield
      %hr/
      %footer
        %p &copy; Copyright.Imaginea.2012.
    / /.container
